/* Font style from google font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Work+Sans:ital,wght@0,600;0,800;1,400&display=swap");
/* Shared items */
* {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.btn_primary {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
}
.section_title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.light_gray {
  color: #727272;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  /* justify-content: center; */
}
nav li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  margin-right: 30px;
  color: #424242;
}
/* Banner section style */
.banner_content {
  max-width: 842px;
  text-align: center;
  margin: 0 auto;
}
.banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner_description {
  font-size: 1rem;
  color: #727272;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main section style */
main {
  max-width: 1440px;
  margin: 70px auto;
}
.teams_container {
  display: flex;
  align-items: center;
}
.teams_images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams_content {
  padding-left: 76px;
  padding-right: 76px;
}
.teams_content .teams_title .quick_list {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.teams_content .teams_title .off_uour {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.teams_content .teams_title .features {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.teams_content .teams_description {
  color: #727272;
  font-size: 1rem;
}
/* Feature section style */
.feature_container {
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.feature_container .feature_content .section_title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature_container .feature_content .card {
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature_container .feature_image img {
  height: 70%;
  margin-left: 80px;
}
.ten_years_badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 140px;
}
.ten_years_badge h2 {
  font-size: 4rem;
  margin: 0;
}
.ten_years_badge p {
  font-size: 1.5rem;
}

.fact_card_container {
  display: flex;
  justify-content: space-around;
}
.fact_card_container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 30px;
}
.fact_card_container .card .card_stats {
  color: #424242;
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fact_card_container .card > p {
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600px;
}
.Sponsors {
  text-align: center;
}
.sponsors_image_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: center;
  gap: 40px;
}
.sponsors_image_container img {
  width: 165px;
}
/* .......................................Responsive media queries  */
/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams_container,
  .fact_card_container,
  .sponsors_image_container,
  .feature_container {
    flex-direction: column;
  }
  .teams_images {
    grid-template-columns: 1fr;
  }
  .feature_container .feature_image img {
    width: 90%;
    margin-left: 15px;
  }
  .ten_years_badge {
    position: static;
    max-width: 270px;
  }

  .teams_content,
  .fact_card_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .fact_card_container {
    gap: 20px;
  }
}
/* Tablet Device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams_container,
  .sponsors_image_container,
  .feature_container {
    flex-direction: column;
  }
}
