/* Font style from google font  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Work+Sans:ital,wght@0,600;0,800;1,400&display=swap");
/* Shared items */
* {
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn_primary {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
  /* justify-content: center; */
}
nav li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  margin-right: 30px;
  color: #424242;
}
/* Banner section style */
.banner_content {
  max-width: 842px;
  text-align: center;
  margin: 0 auto;
}
.banner_title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner_description {
  font-size: 1rem;
  color: #727272;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main section style */
main {
  max-width: 1440px;
  margin: 70px auto;
}
.teams_container {
  display: flex;
  align-items: center;
}
.teams_images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams_content {
  padding-left: 76px;
  padding-right: 76px;
}
.teams_content .teams_title .quick_list {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.teams_content .teams_title .off_uour {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.teams_content .teams_title .features {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.teams_content .teams_description {
  color: #727272;
  font-size: 1rem;
}

/* .......................................Responsive media queries  */
/* Mobile Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams_container {
    flex-direction: column;
  }
  .teams_images {
    grid-template-columns: 1fr;
  }
  .teams_content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Tablet Device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams_container {
    flex-direction: column;
  }
}
